<!DOCTYPE html>

<!-- ############## Font Choice from Google ########################## -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<!-- ############## Font Choice from Google ########################## -->

<!-- ############## MAIN CODE FOR index.html ########################## -->

<html>
    <head>
        <link rel="stylesheet" href="static/css/css.css">
    </head>

    <body>
        <div style="display: flex;">
            <div class="libraryBlock">
                <div class="browse" style="margin-top: 4vh;">
                    <h1 class="libraryTitle" style="margin-bottom: 8vh">
                        Account
                    </h1>
                    <h1 class="libraryTitle">
                        Browse
                    </h1>
                    <a>
                        Home
                    </a>
                    <br>
                    <a>
                        Trending Now
                    </a>
                </div>

                <div class="browse" style="margin-top: -1vh;">
                    <h1 class="libraryTitle">
                        Library
                    </h1>
                </div>

                <div class="library">
                    <div class="playlists">
                        <img src="static/images/yoasobi.jpeg"/>
                        <div class="playlistDetail">
                            <p2>YOASOBI</p2>
                            <br>
                            <section>
                                <p3>
                                    Playlist - 25 songs
                                </p3>
                            </section>
                        </div>
                    </div>
                    <div class="playlists">
                        <img src="static/images/ikura.jpg"/>
                        <div class="playlistDetail">
                            <p2>Lilas Ikuta</p2>
                            <br>
                            <section>
                                <p3>
                                    Playlist - 13 songs
                                </p3>
                            </section>
                        </div>
                    </div>
                    <div class="playlists">
                        <img src="static/images/Ayase.jpg"/>
                        <div class="playlistDetail">
                            <p2>Ayase</p2>
                            <br>
                            <section>
                                <p3>
                                    Playlist - 8 songs
                                </p3>
                            </section>
                        </div>
                    </div>
                    <div class="playlists">
                        <img src="static/images/Ashley.jpg"/>
                        <div class="playlistDetail">
                            <p2>Insanity</p2>
                            <br>
                            <section>
                                <p3>
                                    Playlist - 10 songs
                                </p3>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="otherBlock">
                <div class="navbar">
                    <div class="navbarContents">
                        <a href="order"><button class="btn">Ethereal</button></a>
                        <img src="static/images/userIconAstral.png" id="userIcon" />
                    </div>
                </div>
                <div class="otherBlock">
                    <div class="navbar">
                        <div class="navbarContents">
                            <a href="order"><button class="btn">Ethereal</button></a>
                            <img src="static/images/userIconAstral.png" id="userIcon" />
                        </div>

                    </div>
                    <div style="display: flex;">
                        <div class="middleDiv">

                            <!-- <h1 style="color: black;">Hello World!</h1>
                            <h1 style="color: black;">Hello World!</h1>
                            <h1 style="color: black;">Hello World!</h1>
                            <h1 style="color: black;">Hello World!</h1>
                            <h1 style="color: black;">Hello World!</h1>
                            <h1 style="color: black;">Hello World!</h1>
                            <h1 style="color: black;">Hello World!</h1>
                            <h1 style="color: black;">Hello World!</h1>
                            <h1 style="color: black;">Hello World!</h1>
                            <h1 style="color: black;">Hello World!</h1>
                            <h1 style="color: black;">Hello World!</h1> -->

                        </div>
                        <div class="lastBox">
                        </div>
                    </div>
                </div>
            </div>

        </div>
<!-- 
        <div class="navbar">
            <div class="navbarContents">
                <a href="order"><button class="btn">Order Now!</button></a>
                <img src="static/images/userIconAstral.png" id="userIcon" />
            </div>
        </div> -->
        <!-- <div class="middleDiv">
            <h1>
                Hello
            </h1>
        </div> -->
        <!-- <div class="middleDiv">
            <h1 style="color: black;">
                Hello World!
            </h1>
            <h1 style="color: black;">
                Hello World!
            </h1>
            <h1 style="color: black;">
                Hello World!
            </h1>
            <h1 style="color: black;">
                Hello World!
            </h1>
            <h1 style="color: black;">
                Hello World!
            </h1>
            <h1 style="color: black;">
                Hello World!
            </h1>
            <h1 style="color: black;">
                Hello World!
            </h1>
            <h1 style="color: black;">
                Hello World!
            </h1>
            <h1 style="color: black;">
                Hello World!
            </h1>
            <h1 style="color: black;">
                Hello World!
            </h1>
            <h1 style="color: black;">
                Hello World!
            </h1>
            <h1 style="color: black;">
                Hello World!
            </h1>
            <h1 style="color: black;">
                Hello World!
            </h1>
            <h1 style="color: black;">
                Hello World!
            </h1>
            <h1 style="color: black;">
                Hello World!
            </h1>
        </div> -->
    </body>
</html>