<!DOCTYPE html>

<!-- ############## Font Choice from Google ########################## -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<!-- ############## Font Choice from Google ########################## -->

<!-- ############## MAIN CODE FOR index.html ########################## -->

<html>
    <head>
        <link rel="stylesheet" href="static/css/css.css">
    </head>

    <body>
        <div style="display: flex;">

            <!-- ################################ THIS IS THE LIBRARY BOX (LEFT BOX) -->

            <!-- ------------------------------------------------- This is the Link box -->
            <div class="libraryBlock">
                <div class="browse">
                    <h1 class="libraryTitle" style="margin-bottom: 0vh">
                        <br>
                        Account
                    </h1>
                    <h1 class="libraryTitle" style="margin-top: 20%;">
                        Browse
                    </h1>
                    <a>
                        Home
                    </a>
                    <br>
                    <a>
                        Trending Now
                    </a>
                    <h1 class="libraryTitle">
                        Library
                    </h1>
                </div>
            <!-- ------------------------------------------------- This is the Link box -->

            <!-- ----------------------------------------------------- This is the library box -->
            <div class="library">
                    <div class="playlists">
                        <img src="static/images/yoasobi.jpeg"/>
                        <div class="detailCenter">
                            <div class="playlistDetail">
                                <div class="artistAndPlaylist">
                                    <div class="playlistName">
                                        Best of YOASOBI
                                    </div>
                                    <div class="artistName">
                                        By YOASOBI
                                    </div>
                                </div>
                                <br>
                                <section>
                                    <br>
                                    <p3>
                                        Playlist - 25 songs
                                    </p3>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="playlists">
                        <img src="static/images/ikura.jpg"/>
                        <div class="detailCenter">
                            <div class="playlistDetail">
                                <div class="artistAndPlaylist">
                                    <div class="playlistName">
                                        Sketch
                                    </div>
                                    <div class="artistName">
                                        By Lilas Ikuta
                                    </div>
                                </div>
                                <br>
                                <section>
                                    <br>
                                    <p3>
                                        Playlist - 25 songs
                                    </p3>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="playlists">
                        <img src="static/images/Ayase.jpg"/>
                        <div class="detailCenter">
                            <div class="playlistDetail">
                                <div class="artistAndPlaylist">
                                    <div class="playlistName">
                                        Best of Ayase
                                    </div>
                                    <div class="artistName">
                                        By YOASOBI
                                    </div>
                                </div>
                                <br>
                                <section>
                                    <p3>
                                        <br>
                                        Playlist - 25 songs
                                    </p3>
                                </section>
                            </div>
                        </div>
                    </div>

                    <div class="playlists">
                        <img src="static/images/Ashley.jpg"/>
                        <div class="detailCenter">
                            <div>
                                <div class="playlistDetail">
                                    <div class="artistAndPlaylist">
                                        <div class="playlistName">
                                            I'm going Insane
                                        </div>
                                        <div class="artistName">
                                            By Kyotsu
                                        </div>
                                    </div>
                                    <br>
                                    <section>
                                        <p3>
                                            <br>
                                            Playlist - 25 songs
                                        </p3>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- ----------------------------------------------------- This is the library box -->

            <!-- ################################ THIS IS THE LIBRARY BOX (LEFT BOX) -->

            <!-- ################################ THIS IS THE RIGHT SIDE OF THE PAGE  -->
            <div class="otherBlock">

                <!-- ------------------------ This is the navigation bar -->
                <div class="navbar">
                    <div class="navbarContents">
                        <a href="order">
                            <div class="buttonContainer">
                                <div class="upgrade">
                                    <div class="afterUpgrade">Ethereal</div>
                                    <div class="beforeUpgrade">Upgrade</div>
                                </div>
                            </div>
                        </a>
                        <img src="static/images/userIconAstral.png" id="userIcon" />
                    </div>
                </div>
                <!-- ------------------------ This is the navigation bar -->

                <div style="display: flex;">
                    <!-- ############### THIS IS THE MIDDLE BOX -->
                    <div class="middleDiv">
                        <div style="display: flex; justify-content: center;">
                            <!-- ################## Introduction Box  -->
                            <div class="introBox">
                                <div class="introContainer">
                                    <div class="introText">
                                        <h1>
                                            JPOP Hitssss <br><p1>ft. YOASOBI</p1>
                                        </h1>

                                        <div class="introWrapper">
                                            <div class="introDescBoxBefore">
                                                <p1>
                                                    YOASOBI. A powerful presence
                                                    and unbeaten rhythms.<br>
                                                    Listen to the most dynamic duo is JPop history now!                                                 
                                                    <br>
                                                    <br>
                                                </p1>
                                            </div>
                                            <div class="introDescBoxAfter">
                                                <p1>
                                                    Listen to YOASOBI now, along with other popular artists!
                                                </p1>
                                            </div>
                                            <!-- <b>YOASOBI</b> - 52 million followers -->

                                            <div class="listenNow">
                                                <a href="youtube.com">
                                                    <button>
                                                        <b>Listen Now</b>
                                                    </button>
                                                </a>
                                            </div>
                                        </div>



                                    </div>
                                    <div>
                                        <img class="introPic" src="static/images/yoasobi.png" />
                                    </div>
                                </div>
                            </div>
                            <!-- ################## Introduction Box  -->
                        </div>

                        <div style="display: flex; justify-content: center;">
                            <div class="trackBox">
                                <h1 style="font-weight: 400"> 
                                    For You
                                </h1>

                                <div class="allTracks">
                                    <div class="track">
                                        <img src="static/images/songs/untilIFoundYou.jpg" />

                                        <div class="taskDescription">
                                            <h1>
                                                Until I Found You
                                            </h1>

                                            <div>
                                                Stephen Sanchez
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="track">
                                        <img src="static/images/songs/idol.png" />

                                        <div class="taskDescription">
                                            <h1>
                                                アイドル
                                            </h1>

                                            <div>
                                                YOASOBI
                                            </div>
                                        </div>
                                    </div>

                                    <div class="track">
                                        <img src="static/images/songs/kaikai.png" />

                                        <div class="taskDescription">
                                            <h1>
                                                Kaikai Kitan
                                            </h1>

                                            <div>
                                                Eve
                                            </div>
                                        </div>
                                    </div>

                                    <div class="track">
                                        <img src="static/images/songs/centimeter.jpg" />

                                        <div class="taskDescription">
                                            <h1>
                                                センチメートル
                                            </h1>

                                            <div>
                                                The Peggies
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div style="display: flex; justify-content: center; margin-top: 0">
                            <div class="trackBox">
                                <h1 style="font-weight: 400"> 
                                    Popular Albums
                                </h1>

                                <div class="allTracks">
                                    <div class="track">
                                        <img src="static/images/songs/queenJazz.png" />

                                        <div class="taskDescription">
                                            <h1>
                                                Jazz
                                            </h1>

                                            <div>
                                                Queen
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="track">
                                        <img src="static/images/songs/theBook.jpg" />

                                        <div class="taskDescription">
                                            <h1>
                                                The Book 
                                            </h1>

                                            <div>
                                                YOASOBI
                                            </div>
                                        </div>
                                    </div>

                                    <div class="track">
                                        <img src="static/images/ikura.jpg" />

                                        <div class="taskDescription">
                                            <h1>
                                                Sketch
                                            </h1>

                                            <div>
                                                Lilas Ikuta
                                            </div>
                                        </div>
                                    </div>

                                    <div class="track">
                                        <img src="static/images/songs/bruno.png" />

                                        <div class="taskDescription">
                                            <h1>
                                                Doo-Wops & Hooligans
                                            </h1>

                                            <div>
                                                Bruno Mars
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ############### THIS IS THE MIDDLE BOX -->

                    <div class="lastBox">
                        <div class="nowPlaying">
                            <div class="playBox">
                                <div id="nowPlaying">
                                    Now Playing
                                </div>
                                <div>
                                    <img src="static/images/Ayase.jpg" />
                                </div>

                                <div class="buttonBar">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </body>
</html>