<!DOCTYPE html>

<!-- ############## Font Choice from Google ########################## -->
<!-- ############## Font Choice from Google ########################## -->
<!-- ############## MAIN CODE FOR index.html ########################## -->

<html>
    <head>
        <link rel="stylesheet" href="static/css/css.css">
    </head>

    <body>
        <div style="display: flex;">
            <div class="libraryBlock">
                <br>
            </div>
            <div class="otherBlock">
                <div class="navbar">
                    <div class="navbarContents">
                        <a href="order"><button class="btn">Ethereal</button></a>
                        <img src="static/images/userIconAstral.png" id="userIcon" />
                    </div>
                </div>
                <div class="otherBlock">
                    <div class="navbar">
                        <div class="navbarContents">
                            <a href="order"><button class="btn">Ethereal</button></a>
                            <img src="static/images/userIconAstral.png" id="userIcon" />
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="middleDiv">
                            <h1 style="color: black;">Hello World!</h1>
                            <h1 style="color: black;">Hello World!</h1>
                            <h1 style="color: black;">Hello World!</h1>
                            <h1 style="color: black;">Hello World!</h1>
                            <h1 style="color: black;">Hello World!</h1>
                            <h1 style="color: black;">Hello World!</h1>
                            <h1 style="color: black;">Hello World!</h1>
                            <h1 style="color: black;">Hello World!</h1>
                            <h1 style="color: black;">Hello World!</h1>
                            <h1 style="color: black;">Hello World!</h1>
                            <h1 style="color: black;">Hello World!</h1>
                            <h1 style="color: black;">Hello World!</h1>
                            <h1 style="color: black;">Hello World!</h1>
                            <h1 style="color: black;">Hello World!</h1>
                            <h1 style="color: black;">Hello World!</h1>
                            <h1 style="color: black;">Hello World!</h1>
                            <h1 style="color: black;">Hello World!</h1>
                            <h1 style="color: black;">Hello World!</h1>
                            <h1 style="color: black;">Hello World!</h1>
                            <h1 style="color: black;">Hello World!</h1>
                            <h1 style="color: black;">Hello World!</h1>
                            <h1 style="color: black;">Hello World!</h1>

                        </div>
                        <div class="lastBox">
                        </div>
                    </div>
                </div>
            </div>

        </div>
<!-- 
        <div class="navbar">
            <div class="navbarContents">
                <a href="order"><button class="btn">Order Now!</button></a>
                <img src="static/images/userIconAstral.png" id="userIcon" />
            </div>
        </div> -->
        <!-- <div class="middleDiv">
            <h1>
                Hello
            </h1>
        </div> -->
        <!-- <div class="middleDiv">
            <h1 style="color: black;">
                Hello World!
            </h1>
            <h1 style="color: black;">
                Hello World!
            </h1>
            <h1 style="color: black;">
                Hello World!
            </h1>
            <h1 style="color: black;">
                Hello World!
            </h1>
            <h1 style="color: black;">
                Hello World!
            </h1>
            <h1 style="color: black;">
                Hello World!
            </h1>
            <h1 style="color: black;">
                Hello World!
            </h1>
            <h1 style="color: black;">
                Hello World!
            </h1>
            <h1 style="color: black;">
                Hello World!
            </h1>
            <h1 style="color: black;">
                Hello World!
            </h1>
            <h1 style="color: black;">
                Hello World!
            </h1>
            <h1 style="color: black;">
                Hello World!
            </h1>
            <h1 style="color: black;">
                Hello World!
            </h1>
            <h1 style="color: black;">
                Hello World!
            </h1>
            <h1 style="color: black;">
                Hello World!
            </h1>
        </div> -->
    </body>
</html>