/* ######################################### DEFAULT SETTINGS  */
html, body {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
    /* background-color: rgb(23, 23, 23); */
    background-color: red;
    color: white;
    margin: 0;
    padding: 0;
    width: 100vw;
    
}

.centerThis {
    display: flex;
    justify-content: center;
}

#mainContainer {
    width: 100vw;
    height: 100vh;
    background-color: blue;
    display: flex;
}

#buttonsBox {
    height: 100%;
    width: 25%;
    background-color: yellow;
}

#userDetails {
    padding-top: 5vh;
    width: 100%;
    background-color: coral;
    height: 40vh;
}
.userIcon {
    width: 10vw;
    height: 10vw;
}

#buttonsButtons {
    width: 100%;
    height: 55vh;
    background-color: purple;
}

#buttons {
    font-size: 1.5vw;
}

#buttons div {
    color: black;
    padding-top: 2vh
}
/* ############################ THIS IS THE OTHER BOX OF THE PAGE ############################  */

#mainContentsBox {
    height: 100%;
    width: 75%;
    background-color: aqua;
    overflow-y: auto;
}

#profileContentTitle {
    height: 10%;
    width: 100%;
    background-color: brown;
}

#profileContentTitle section {
    position: relative;
    width: 30%;
    height: 100%;
    float: left;
    margin-right: 5px;
    background-color: blueviolet;
    font-size: 200%;
    overflow: auto;
}

#profileContentTitle section span {
    position: absolute;
    bottom: 0;
    right: 0;
}

.profileContentBlock {
    width: 100%;
    background-color: red;
    height: 80%;
}

.allOfContents {
    font-size: 150%;
    background-color: blue;
    margin-left: 5%;
    margin-top: 5%;
}

.allOfContents p2 {
    font-size: 80%;
}