/* ######################################### DEFAULT SETTINGS  */
html {
    background-color: black;
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
}

body {
    margin: 0;
}

/* h1 {
    color: white;
    font-size: 1vw;
} */
/* ######################################### DEFAULT SETTINGS  */

/* ######################################### Box Dividers  */

.libraryBlock {
    margin-top: 0%;
    background-color: rgb(26, 26, 26);
    /* background-color: red;  */
    /* For testing */
    width: 20vw;
    /* margin-top: -3vh; */
    /* border-right: 1px solid rgb(59, 59, 205); */
    height: 100vh;
}

.otherBlock {
    width: 80vw;
    height: 100vh;
    background-color: black;    
}

/* ######################################### Box Dividers  */

/* ######################################### 1st Box Dividers */

.libraryTitle {
    font-size: 1.5vw;
    font-weight: 400;
}

.browse {
    width: 100%;
    height: 50%;
    color: white;
    font-size: 2vw;
    /* margin-top: 10vh; */
    font-weight: 100;
    /* margin-left: 1vw; */
    padding-left: 1vw;
    margin-right: 1vw;
    /* padding: 1vw; */
    /* border: 2px solid rgba(128, 0, 128, 0.315); */
    /* border-radius: 1vw; */
    background-color: rgb(26, 26, 26);
    /* background-color: green */
}

.browse a {
    color: rgb(175, 175, 175);
    font-size: 70%;
    font-weight: 200;
    transition: 0.3s;
}

.browse a:hover {
    color: white;
}

.library::-webkit-scrollbar {
    width: 0.4vw;
}

.library::-webkit-scrollbar-track {
    /* display: none; */
    background-color: rgb(26, 26, 26);
}

.library::-webkit-scrollbar-thumb {
    /* display: none; */
    background-color: rgb(35, 35, 35)
}

/* ########################################################## LIBRARY BOX */
.library {
    border-top: 2px solid rgb(59, 59, 205);
    width: 100%;
    height: 47.595%;
    background-color: rgb(26, 26, 26);
    /* background-color: blue; */
    text-align: left;
    /* Removing Scroll Bar */
    overflow-x: hidden;
    overflow-y: auto;
    /* -ms-overflow-style: none;  
    scrollbar-width: none; */
}

.playlists {
    color: white;
    font-size: 1.4vw;
    /* background-color: red; */
    /* background-color: red; */
    margin: 3%;
    display: flex;
    padding: 4%;
    transition: 0.3s;
    border-radius: 1vw;
}

.playlists:hover {
    background-color: rgb(35, 35, 35);
}

.playlists img {
    display: flex;
    width: 30%;
    height: 30%;
    border-radius: 10%;
}

.detailCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4%;
    width: 100%;
}

.playlistDetail {
    margin-left: 5%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.playlistDetail section {
    margin-top: -30%;
    font-weight: 100;
    line-height: 80%;
    font-size: 70%;
}

.artistAndPlaylist {
    width: 10vw;
    
}

.playlistName {
    font-size: 90%;
}

.artistName {
    opacity: 0;
    font-size: 90%;
    margin-top: -20%;
}

.playlistName, .artistName {
    transition: opacity 0.1s linear;
}

.playlists:hover .playlistName {
    opacity: 0;
}

.playlists:hover .artistName {
    opacity: 1;
}
/* ########################################################## LIBRARY BOX */

/* ######################################### 1st Box Dividers */

/* ######################################### 2nd Box Contents */

/* ####################### Navbar */
.navbar {
    /* background-color: rgb(28, 28, 28); */
    background-color: rgb(23, 23, 23);
    font-size: 200%;
    align-items: center;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    position: fixed;
    width: 85vw;
    height: 10vh;
    z-index: 100;
    /* border-bottom: 1px solid rgb(59, 59, 205); */
}

.navbarContents {
    margin-top: 0vh;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: right;
    align-items: center;
    padding-right: 10vw;
}

.buttonContainer {
    width: 8vw;
    height: 8vh;
    background-color: rgb(23, 23, 23);
    transition: 0.3s;
    margin-right: 1vw;
    border-radius: 1vw;
}

.upgrade {
    width: 100%;
    height: 100%;
    font-size: 1.3vw;
    position: absolute;
    color: white;
    margin-left: 1.7vw;
    margin-top: 1.3vh;
}

.upgrade div {
    position: absolute;
}

.afterUpgrade {
    opacity: 0;
}

.beforeUpgrade, .afterUpgrade {
    transition: opacity 0.1s linear;
}

.buttonContainer:hover {
    background-color: rgb(59, 59, 205);
}

.buttonContainer:hover .beforeUpgrade {
    opacity: 0;
}

.buttonContainer:hover .afterUpgrade {
    opacity: 1;
}

#userIcon {
    margin-right: 15vw;
    margin-left: 5vw;
    width: 2vw;
    height: 5vh;
    margin-top: 0vh;
}
/* ####################### Navbar */

/* ####################### MIDDLE BOX */

.middleDiv::-webkit-scrollbar {
    display: none;
}

.middleDiv {
    background-color: rgb(27, 27, 27);
    /* background-color: red; */
    width: 65vw;
    height: 100vh;
    overflow-x: hidden;
    /* overflow-y: auto; */
    text-align: center;
    
    /* Removing Scroll Bar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.introBox {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    /* background-color: blue; */
    background-color: rgb(158, 157, 157);
    padding-bottom: 2vh;
    width: 55vw;
    border-radius: 1vw;
    height: 100% + 2vh;
    overflow: hidden;
    /* padding-bottom: 2vh; */
}

.introPic {
    margin-top: 5%;
    /* margin-bottom: -20vh; */
    width: 33vw;
    /* background-color: yellow; */

    height: 100%;
    position: relative;
    /* position: absolute */
    /* border-radius: 1vw; */
}

.introContainer {
    height: 100%;
    /* background-color: red; */
    display: flex;
    padding: 0%;
}

.introText {
    width: 21vw;
    margin-top: 1vw;
    margin-left: 5vw;
    margin-right: 0vw;
    text-align: left;
    font-size: 1vw;
    align-items: center;
    height: 100%;
}

.introText h1 {
    color: black;
}

.introText p1 {
    color: rgb(66, 66, 66)
}

.introDescBoxBefore {
    opacity: 1;
    /* background-color: blue; */
    font-size: 120%;
    width: 80%;
    height: 45%;
    margin-bottom: -30%;
}

.introDescBoxAfter {
    opacity: 0;
    /* bottom: 10%; */
    /* position: absolute; */
    /* background-color: blue; */
    margin-top: -20%;
    font-size: 120%;
    width: 80%;
    height: 20%;
}

.introDescBoxBefore, .introDescBoxAfter {
    transition: opacity 0.1s linear;
}

.introWrapper:hover .introDescBoxBefore {
    opacity: 0;
}

.introWrapper:hover .introDescBoxAfter{
    /* position: absolute; */
    opacity: 1;
}

.introWrapper:hover .reAppear {
    position: absolute;
    opacity: 1;
}
.introDescBoxAfter:hover a {
    /* position: absolute; */
    display: block;
}

.listenNow {
    margin-top: 10%;

}

.listenNow button {
    margin-top: 2vh;
    border: none;
    background-color: rgb(158, 157, 157);
    /* background-color: blue; */
    padding: 3%;
    width: 39%;
    height: 10%;
    font-size: 1.3vw;
    font-weight: 500;
    border-radius: 1vw;
    transition: 0.2s;
}

.listenNow button:hover {
    /* background-color: red; */
    background-color: rgb(59, 59, 205);
    color: white;
    content: "Lets go";
}



/* ####################### Suggestions  */

.trackBox {
    /* background-color: blue; */
    width: 55vw;
    height: 50vh;
    margin-top: 10vh;
    color: white;
    font-weight: 400;
}

.allTracks {
    display: flex;
    justify-content: center;
}

.track {
    background-color: rgb(35, 35, 35);
    /* background-color: red; */
    width: 20%;
    height: 100% + 2vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    padding: 2%;
    text-align: left;
    border-radius: 1vw;
    transition: 0.5s;
}

.track:hover {
    background-color: rgb(40, 40, 40);
}

.track img {
    width: 11vw;
    height: 11vw;
    border-radius: 1vw;
}

.taskDescription h1 {
    font-weight: 400;
    font-size: 1.3vw;
}

.taskDescription div {
    margin-top: -1vw;
    font-size: 1vw;
    color: rgb(161, 161, 161);
}

/* #####s################## MIDDLE BOX */

.lastBox {
    background-color: rgb(24, 24, 24);
    /* background-color: green; */
    width: 20vw;
    height: 100vh;
}
