/* ######################################### DEFAULT SETTINGS  */
html {
    background-color: rgb(158, 157, 157);
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
}

body {
    margin: 0;
}

/* h1 {
    color: white;
    font-size: 1vw;
} */
/* ######################################### DEFAULT SETTINGS  */

/* ######################################### Box Dividers  */

.libraryBlock {
    margin-top: 0%;
    background-color: rgb(26, 26, 26);
    /* background-color: red;  */
    /* For testing */
    width: 20vw;
    /* margin-top: -3vh; */
    /* border-right: 1px solid rgb(59, 59, 205); */
    height: 99.99vh;
}

.otherBlock {
    width: 80vw;
    height: 100vh;
    background-color: rgb(24, 24, 24);
}
/* ######################################### Box Dividers  */

/* ######################################### 1st Box Dividers */

.libraryTitle {
    font-size: 1.5vw;
    font-weight: 400;
}

.browse {
    width: 100%;
    height: 50%;
    color: white;
    font-size: 2vw;
    /* margin-top: 10vh; */
    font-weight: 100;
    /* margin-left: 1vw; */
    padding-left: 1vw;
    margin-right: 1vw;
    /* padding: 1vw; */
    /* border: 2px solid rgba(128, 0, 128, 0.315); */
    /* border-radius: 1vw; */
    background-color: rgb(26, 26, 26);
    /* background-color: green */
}

.browse a {
    color: rgb(175, 175, 175);
    font-size: 70%;
    font-weight: 200;
    transition: 0.3s;
}

.browse a:hover {
    color: white;
}

.library::-webkit-scrollbar {
    width: 0.4vw;
}

.library::-webkit-scrollbar-track {
    /* display: none; */
    background-color: rgb(26, 26, 26);
}

.library::-webkit-scrollbar-thumb {
    /* display: none; */
    background-color: rgb(35, 35, 35)
}

/* ########################################################## LIBRARY BOX */
.library {
    border-top: 2px solid rgb(59, 59, 205);
    width: 100%;
    height: 47.595%;
    background-color: rgb(26, 26, 26);
    /* background-color: blue; */
    text-align: left;
    /* Removing Scroll Bar */
    overflow-x: hidden;
    overflow-y: auto;
    /* -ms-overflow-style: none;  
    scrollbar-width: none; */
}

.playlists {
    color: white;
    font-size: 1.4vw;
    /* background-color: red; */
    /* background-color: red; */
    margin: 3%;
    display: flex;
    padding: 4%;
    transition: 0.3s;
    border-radius: 1vw;
}

.playlists:hover {
    background-color: rgb(35, 35, 35);
}

.playlists img {
    display: flex;
    width: 30%;
    height: 30%;
    border-radius: 10%;
}

.detailCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4%;
    width: 100%;
}

.playlistDetail {
    margin-left: 5%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.playlistDetail section {
    margin-top: -30%;
    font-weight: 100;
    line-height: 80%;
    font-size: 70%;
}

.artistAndPlaylist {
    width: 10vw;
    
}

.playlistName {
    font-size: 90%;
}

.artistName {
    opacity: 0;
    font-size: 90%;
    margin-top: -20%;
}

.playlistName, .artistName {
    transition: opacity 0.1s linear;
}

.playlists:hover .playlistName {
    opacity: 0;
}

.playlists:hover .artistName {
    opacity: 1;
}
/* ########################################################## LIBRARY BOX */

/* ######################################### 1st Box Dividers */

/* ######################################### 2nd Box Contents */

/* ####################### Navbar */
.navbar {
    /* background-color: rgb(28, 28, 28); */
    background-color: rgb(23, 23, 23);
    font-size: 200%;
    align-items: center;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    position: fixed;
    width: 85vw;
    height: 10vh;
    z-index: 100;
    /* border-bottom: 1px solid rgb(59, 59, 205); */
}

.navbarContents {
    margin-top: 0vh;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: right;
    align-items: center;
    padding-right: 10vw;
}

.buttonContainer {
    width: 8vw;
    height: 8vh;
    background-color: rgb(23, 23, 23);
    transition: 0.3s;
    margin-right: 1vw;
    border-radius: 1vw;
}

.upgrade {
    width: 100%;
    height: 100%;
    font-size: 1.3vw;
    position: absolute;
    color: white;
    margin-left: 1.7vw;
    margin-top: 1.3vh;
}

.upgrade div {
    position: absolute;
}

.afterUpgrade {
    opacity: 0;
}

.beforeUpgrade, .afterUpgrade {
    transition: opacity 0.1s linear;
}

.buttonContainer:hover {
    background-color: rgb(59, 59, 205);
}

.buttonContainer:hover .beforeUpgrade {
    opacity: 0;
}

.buttonContainer:hover .afterUpgrade {
    opacity: 1;
}

#userIcon {
    margin-right: 15vw;
    margin-left: 5vw;
    width: 2vw;
    height: 5vh;
    margin-top: 0vh;
}
/* ####################### Navbar */

/* ####################### MIDDLE BOX */

.middleDiv::-webkit-scrollbar {
    display: none;
}

.middleDiv {
    background-color: rgb(30, 30, 30);
    /* background-color: red; */
    width: 65vw;
    height: 100vh;
    overflow-x: hidden;
    /* overflow-y: auto; */
    text-align: center;
    
    /* Removing Scroll Bar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.introBox {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    /* background-color: blue; */
    background-color: rgb(158, 157, 157);
    padding-bottom: 2vh;
    width: 55vw;
    border-radius: 1vw;
    height: 100% + 2vh;
    overflow: hidden;
    /* padding-bottom: 2vh; */
}

.introPic {
    margin-top: 5%;
    /* margin-bottom: -20vh; */
    width: 33vw;
    /* background-color: yellow; */

    height: 100%;
    position: relative;
    /* position: absolute */
    /* border-radius: 1vw; */
}

.introContainer {
    height: 100%;
    /* background-color: red; */
    display: flex;
    padding: 0%;
}

.introText {
    width: 21vw;
    margin-top: 1vw;
    margin-left: 5vw;
    margin-right: 0vw;
    text-align: left;
    font-size: 1vw;
    align-items: center;
    height: 100%;
}

.introText h1 {
    color: black;
}

.introText p1 {
    color: rgb(66, 66, 66)
}

.introDescBoxBefore {
    opacity: 1;
    /* background-color: blue; */
    font-size: 120%;
    width: 80%;
    height: 45%;
    margin-bottom: -30%;
}

.introDescBoxAfter {
    opacity: 0;
    /* bottom: 10%; */
    /* position: absolute; */
    /* background-color: blue; */
    margin-top: -20%;
    font-size: 120%;
    width: 80%;
    height: 20%;
}

.introDescBoxBefore, .introDescBoxAfter {
    transition: opacity 0.1s linear;
}

.introWrapper:hover .introDescBoxBefore {
    opacity: 0;
}

.introWrapper:hover .introDescBoxAfter{
    /* position: absolute; */
    opacity: 1;
}

.introWrapper:hover .reAppear {
    position: absolute;
    opacity: 1;
}
.introDescBoxAfter:hover a {
    /* position: absolute; */
    display: block;
}

.listenNow {
    margin-top: 10%;

}

.listenNow button {
    margin-top: 2vh;
    border: none;
    background-color: rgb(158, 157, 157);
    /* background-color: blue; */
    padding: 3%;
    width: 39%;
    height: 10%;
    font-size: 1.3vw;
    font-weight: 500;
    border-radius: 1vw;
    transition: 0.2s;
}

.listenNow button:hover {
    /* background-color: red; */
    background-color: rgb(59, 59, 205);
    color: white;
    content: "Lets go";
}



/* ####################### Suggestions  */

.trackBox {
    /* background-color: blue; */
    width: 55vw;
    height: 50vh;
    margin-top: 10vh;
    color: white;
    font-weight: 400;
}

.allTracks {
    display: flex;
    justify-content: center;
}

.track {
    background-color: rgb(45, 45, 45);
    /* background-color: red; */
    width: 20%;
    height: 100% + 2vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    padding: 2%;
    text-align: left;
    border-radius: 1vw;
    transition: 0.5s;
}

.track:hover {
    background-color: rgb(65, 65, 65);
}

.track img {
    width: 11vw;
    height: 11vw;
    border-radius: 1vw;
}

.taskDescription h1 {
    font-weight: 400;
    font-size: 1.3vw;
}

.taskDescription div {
    margin-top: -1vw;
    font-size: 1vw;
    color: rgb(161, 161, 161);
}

/* #####s################## MIDDLE BOX */

.lastBox {
    background-color: rgb(24, 24, 24);
    margin-top: 8vh;
    /* margin-top: 20vh; */
    /* background-color: green; */
    width: 20vw;
    height: 92vh;
}

.nowPlaying {
    padding-top: 10%;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70%;
    /* background-color: red; */
    text-align: left;
}


#madeBy {
    margin-top: -5%;
    font-size: 1.2vw;
    font-weight: 300;
    color: rgb(194, 194, 194);
    text-align: right;
}
.nowPlaying h1 {
    font-size: 1.4vw;
}

.playBox {
    height: 90%;
    /* background-color: blue; */
    background-color: rgb(35, 35, 35);
    padding: 1vw;
    border-radius: 1vw;
}
#nowPlaying {
    font-size: 1.5vw;
    font-weight: 400;
    color: white;
}

.nowPlaying img {
    margin-top: 5%;
    width: 15vw;
    border-radius: 1vw
}

.buttonBar {
    width: 100%;
    height: 20%;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
}

.pauseSkip {
    width: 3vw;
    height: 3vw;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    position: absolute
}

.previousButton {
    width: 3vw;
    height: 3vw;
    /* background-color: purple; */
}

.skipButton {
    width: 3vw;
    height: 3vw;
    /* background-color: purple; */
}

.toGo {
    margin-top: 13%;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* #toGo {
    opacity: 1;
} */

.toGo div {
    height: 60%;
    width: 20%;
    border-radius: 30%;
    margin: 4%;
    background-color: rgb(194, 194, 194);
}

.toPause {
    opacity: 0;
    margin:auto;
    width: 0;
    height: 0;
    margin-left: -2.4vw;
    border-bottom: 1.7vw solid rgb(59, 59, 205);
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
    transform: rotate(90deg);
}

.toGo, .toPause {
    transition: opacity 0.05s linear;
}

.pauseSkip:hover .toGo {
    opacity: 0;
}

.pauseSkip:hover .toPause {
    opacity: 1;
}

.pauseSkip:hover {
    opacity: 1;
}

.skipButton {
    margin-right: 1.5vw;
    width: 3vw;
    height: 3vw;
    /* background-color: purple; */
    display: flex;
    justify-content: center;
}

.skipButton:hover .triangleTriangle {

    border-bottom: 1vw solid rgb(59, 59, 205);
    border-left: 0.7vw solid transparent;
    border-right: 0.7vw solid transparent;
}

.skipButton:hover .lineLine {
    background-color: rgb(59, 59, 205);
}

.previousButton {
    margin-left: 1.5vw;
    width: 3vw;
    height: 3vw;
    /* background-color: purple; */
    display: flex;
    justify-content: center;
}

.previousButton:hover .triangleTriangle {

    border-bottom: 1vw solid rgb(59, 59, 205);
    border-left: 0.7vw solid transparent;
    border-right: 0.7vw solid transparent;
}

.previousButton:hover .lineLine {
    background-color: rgb(59, 59, 205);
}

.lineLine {
    height: 40%;
    width: 10%;
    border-radius: 30%;
    background-color: rgb(194, 194, 194);
    margin-top: 30%;
    transition: 0.2s;
    /* margin-left: -2vw; */
}

.triangleTriangle {
    /* margin-left: -2.4vw; */
    transition: 0.2s;
    border-bottom: 1vw solid rgb(194, 194, 194);
    border-left: 0.7vw solid transparent;
    border-right: 0.7vw solid transparent;
    transform: rotate(90deg);
    margin-left: 10%;
    margin-right: -40%;
}

.artistDetails {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15vh;
    /* background-color: red; */
}

.artist {
    width: 80%;
    height: 100%;
    /* background-color: blue; */
    background-color: rgb(35, 35, 35);
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
    border-radius: 1vw;
    padding-bottom: 5%;
}

.artist section {
    font-size: 1.5vw;
    font-weight: 600;
    margin-bottom: -5%;
}

.artist p1 {
    color: rgb(204, 204, 204);
    font-weight: 400;
}

.artist p1:hover {
    text-decoration: underline;
}
.artist p2 {
    font-weight: 200;
    font-size: 90%;
}
/* .introDescBoxBefore {
.introDescBoxBefore, .introDescBoxAfter {
    transition: opacity 0.1s linear;
}

.introWrapper:hover .introDescBoxBefore {
    opacity: 0;
}

.introWrapper:hover .introDescBoxAfter{
    opacity: 1;
} */